@font-face {
  font-family: 'Satoshi';
  src: url('../assets/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('../assets/CascadiaCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;

  --ff-base: 'Satoshi', system-ui, sans-serif;
  --ff-code: 'Cascadia Code', monospace;

  [data-theme='light'] {
    color-scheme: light;
  }

  [data-theme='dark'] {
    color-scheme: dark;
  }
}

html {
  font-family: var(--ff-base, system-ui);
  line-height: 1.6;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  scroll-padding-block: 5lh;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  margin: 2rem;
  min-block-size: 100svb;
}
